
.activeThumbnail {
    border: 1px solid yellowgreen;

    &:hover {
        border:1px solid yellow;
    }
}

.inactiveThumbnail {
    border: 1px solid gray;

    &:hover {
        border: 1px solid yellow;
    }
}