<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{200} - %message%n%xException{30}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="DEBUG" />
  <logger name="application" level="DEBUG" />
  <logger name="api.home" level="DEBUG" />
  <logger name="api.event" level="DEBUG" />
  <logger name="api.category" level="DEBUG" />
  <logger name="api.location" level="DEBUG" />
  <logger name="api.image" level="DEBUG" />
  <logger name="api.authentication" level="DEBUG" />
  <logger name="api.login" level="DEBUG" />
  <logger name="api.organizer" level="DEBUG" />
  <logger name="api.rating" level="DEBUG" />
  <logger name="api.user" level="DEBUG" />
  <logger name="service.geocoder" level="DEBUG" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  
  <logger name="play.api.libs.ws.ahc" level="WARN"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.channel" level="WARN"/>
  <logger name="play.shaded.ahc.io.netty.handler.ssl" level="WARN"/>
  <logger name="play.shaded.ahc.org.asynchttpclient.netty.handler" level="WARN"/>
  <logger name="play.shaded.ahc.io.netty.util" level="WARN"/>

  <root level="WARN">
    <!--<appender-ref ref="ASYNCFILE" />-->
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
