<div>
  <div class="input-group" style="width: 140px;">
    <input type="text" class="form-control" value="{{date}}">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" on-click="@.set('panelShown', !panelShown)"><span class="glyphicon glyphicon-calendar"></span></button>
    </span>
  </div>
  <div class="panel panel-default" style="width: 300px; visibility: {{panelShown ? 'visible' : 'hidden'}}; position: absolute; z-index:200; border-color: #E4F5F5">
    <div class="panel-heading" style="text-align: center;">
      <span class="glyphicon glyphicon-chevron-left pull-left" on-click="@.fire('setMonth',month-1)"></span>
        {{renderMonth(month)}} {{year}}
      <span class="glyphicon glyphicon-chevron-right pull-right" on-click="@.fire('setMonth',month+1)"></span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Mo</th>
          <th>Di</th>
          <th>Mi</th>
          <th>Do</th>
          <th>Fr</th>
          <th>Sa</th>
          <th>So</th>
        </tr>
      </thead>
      <tbody>
        {{#each getWeeks() : i}}
          <tr>
            {{#each [0,1,2,3,4,5,6] : j}}
              <td style="background: {{isPicked(i,j) ? '#CCC' : '#FFF'}}"><span on-click="@.fire('setDay',i,j)">{{getDay(i,j) < 1 ? '' : getDay(i,j)}}</span></td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
