<div class="panel panel-default" id="filterPanel">
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon"><input type="checkbox" checked="{{filter.fromEnabled}}"/></span>
      <datePicker date="{{filters.fromDate}}"/>
    </div><br/>
    <div class="input-group">
      <span class="input-group-addon"><input type="checkbox" checked="{{filter.toEnabled}}"/></span>
      <datePicker date="{{filters.toDate}}"/>
    </div><br/>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..."
        value={{filters.search}}>
      <span class="input-group-btn">
      <button class="btn btn-default" type="button"
    	on-click="@.fire('filterSearch')">Filter</button>
      </span>
    </div>
  </div>
</div>