<div class="spinner-panel" style="height:{{height}}px; overflow: hidden; width:{{width}}px;" id="spinner-panel">
	<div style="height:{{height}}px; overflow: hidden; width:100%;">
		<div class="spinner-content" style="height:{{height}}px;  width:{{width}}px; overflow: hidden;">
			{{#panels:i}}
				{{#with panels[i]}}
					<div style="position:absolute; top: 0px;  width:{{width}}px; height: {{height}}px;
						left: {{(i-current)*width+20}}px; background-image: url('img/thumbnail.jpg'); padding: 40px; color: #FFF;
						 background-repeat: no-repeat; background-size: {{width}}px {{height}}px; background-overflow: hidden;">
						<h1 style="color:#FFF">{{header}}</h1>
						{{text}}
					</div>
				{{/with}}
			{{/panels}}
		</div>
		<div class="spinner" style="top:{{height/2}}px; left: 30px;"><span class="glyphicon glyphicon-chevron-left"
			on-click="@.fire('goLeft')"></span></div>
		<div class="spinner" style="top:{{height/2}}px; left: {{width-30}}px;"><span class="glyphicon glyphicon-chevron-right"
			on-click="@.fire('goRight')"></span></div>
	</div>
</div>