@import "../../common/less/colors.less";

.Home_search {
    margin: auto;
    margin-top: 55px;

    h1 {
        text-align: center;
        color: @mainGreen;
        font-size: 55px;
    }
}

.Home_searchPanel {
    margin-top: 30px;    

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}