@import "../../common/less/colors.less";

.Home_search {
    margin: auto;
    margin-bottom: 65px;
    margin-top: 30px;

    h1 {
        text-align: center;
        color: @mainGreen;
        font-size: 55px;
    }
}

.Home_searchPanel {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.Home_socialMedia {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 35px;

    background-color: @mainDarkGray1;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}