@this(userMail: String,
      url: String,
      confirmationToken: String)


<div>
    <p style="text-align: center; line-height: 1.5;">
        @logo()
        <span style="font-size: 50px; color: #4CB471">What's On Today</span><br/>
        <span style="font-size: 30px; color: #4CB471">
            Find your next event - soon at
            <a href="@{url}" style="color: #4CB471">whats-on.today</a>
        </span><br/>
        <br/>
        Hi there,<br/>
        it looks like you just signed up to Whats On, great!<br/>
        To finish your registration, just click <a href="@{url}api/v1/login/confirm?token=@{confirmationToken}">this</a> link.<br/>
        <br/>
        Did you not sign up to Whats`On? Just ignore this email.
        <br/>
        <br/>
        @social()
    </p>
</div>
