@this(userMail: String,
      url: String,
      changeToken: String)

<div>
    <p style="text-align: center; line-height: 1.5;">
        @logo()
        <span style="font-size: 50px; color: #4CB471">What's On Today</span><br/>
        <span style="font-size: 30px; color: #4CB471">
            Find your next event - soon at
            <a href="@{url}" style="color: #4CB471">whats-on.today</a>
        </span><br/>
        <br/>
        Hi there,<br/>
        you just requested a password reset.<br/>
        Please click <a href="@{url}web/changePassword?token=@{changeToken}">here</a> to set a new password.
        <br/>
        Did you not request a password reset? Just ignore this email.
        <br/>
        <br/>
        @social()
    </p>
</div>
