@this(userMail: String,
      url: String,
      changeToken: String)

<div>
    <p style="text-align: center; line-height: 1.5;">
        @logo()<br/>
        <span style="font-size: 50px; color: #4CB471">What's On Today</span><br/>
        <span style="font-size: 30px; color: #4CB471">
            Find your next event - soon at
            <a href="@{url}" style="color: #4CB471">whats-on.today</a>
        </span><br/>
        <br/>
        Hi there,<br/>
        you just changed your password at Whats On.<br/>
        If you did not request this password change, it is possible, that someone broke into your account!<br/>
        In that case, please change your password as quickly as possible <a href="@{url}web/changePassword?token=@{changeToken}">here</a>.
        <br/>
        <br/>
        @social()
    </p>
</div>
