@margin: 15%;
@marginTileTable: 5%;

.pageContent {
    margin-left: @margin;
    margin-right: @margin;
}

.tileTable {
    margin-left: @marginTileTable !important;
    margin-right: @marginTileTable !important;
}


